RaspiHareket/Connected Services/RaspiWebService/Repository3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RaspiWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RaspiWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="KeyValueObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValueObject" nillable="true" type="tns:KeyValueObject" />
  <xs:complexType name="ArrayOfKeyValueObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueObject" nillable="true" type="tns:KeyValueObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueObject" nillable="true" type="tns:ArrayOfKeyValueObject" />
</xs:schema>